@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-position: center;
    background-size: cover;
    background-color: #f1f1f1;
    text-align: center;
    margin: 0;
    padding-bottom: 450px;
}

.image {
    width: 550px;
    margin-bottom: 30px;
    height: 200px;
}

.inputResult {
    font-size: 18px;
    padding: 3px;
    border-radius: 3px;
    width: 50%;
    text-align: left;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #9f9f9f;
}

.searchResultArea {
    text-align: left;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.displayTitle {
    color: green;
}

.displayLink {
    color: blue;
}

.resultItem {
    margin-top: 5px;
    margin-bottom: 35px;
}
